+letter+.py
change.py
chessmoves.py
*.png
comments.json
file.c
fileopen.py
findbig.py
firstcapital.py
firsttime.py
funcequation.py
irctc.txt
tk
test.py
StOv.py
sort.py
sexyprime1.py
sexyprime.py
sample.txt
project1.py
pro3.py
pro2.py
jsonDecriptor.py
maths1223.py
messagebox.py
nestedlist.py
pandigitalPrime.py
.vscode/c_cpp_properties.json
pro6.py
